{
    "presets": ["env", "react"],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-react-jsx",
      ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-less"] }]
    ]
  }